<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>List of projects</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #636262;
      }
      ::-webkit-scrollbar {
        width: 10px;
      }
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        background: #023bda;
        border-radius: 10px;
      }

      .table {
        color: #fcf7f7;
        background-color: #022175;
      }
      a {
        color: #fdfdfd;
      }

      .table th,
      .table td {
        border-color: #535353;
      }
      th:hover {
        background-color: rgb(70, 70, 70);
      }
      .projEl {
        background-color: rgb(20, 20, 20);
      }
      iframe {
        border: none;
      }
    </style>
  </head>

  <body class="container-fluid">
    <div class="row gap-2 p-3">
      <div
        class="col-md-3 mx-md-auto p-0 align-self-start"
        style="max-height: 95vh; overflow: auto"
      >
        <table class="table">
          <thead>
            <tr>
              <th id="cv">CV</th>
            </tr>
            <thead>
              <tr>
                <th id="proj">Projekty</th>
              </tr>
            </thead>
          </thead>

          <tbody>
            <% folders.forEach(folder => { %>
            <tr>
              <td>
                <a href="Projects/<%= folder %>"><li><%= folder%></li> </a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div id="main" class="col-md-8 mx-md-auto p-0 align-self-start"></div>
    </div>
    <script>
      window.onload = function () {
        ui.init();
      };

      class Ui {
        init() {
          document
            .getElementById("cv")
            .addEventListener("click", (e) => cv.drawCv());

          document
            .getElementById("proj")
            .addEventListener("click", (e) => projects.drawProjects());
          cv.drawCv();
        }
      }
      const ui = new Ui();

      class Cv {
        drawCv() {
          document.getElementById(
            "main"
          ).innerHTML = `<iframe  src="Files/CV - HTML" class="w-100 d-inline-block"
            style="height:95vh" ></iframe>`;
        }
      }
      const cv = new Cv();

      class Projects {
        drawProjects() {
          let sam = "drzewo";
          document.getElementById("main").innerHTML = `
              <div style="height: 95vh; overflow: auto">
                <% folders.forEach(folder => { %>
                  <div  class="border projEl"" >
                    <h3>
                      <a href="Projects/<%= folder %>"><%= folder%> ${sam} </a>
                    </h3>
                    <object class="w-100" style="height: 100px"  data="Projects/<%= folder %>/readme.txt"></object>
                 
                   </div>
                <% }) %>
              </div>
            `;
        }
      }
      const projects = new Projects();
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-popRpmFF9JQgExhfw5tZT4I9/CI5e2QcuUZPOVXb1m7qUmeR2b50u+YFEYe1wgzy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
